+++
title = "RoverCore Docs"
linkTitle = "RoverCore Docs"

+++

{{< blocks/cover title="Welcome to RoverCore Docs: Beautiful documentation for the RoverCore project!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/eahs/rovercore">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">ASP.Net Boilerplate template for ADS</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
RoverCore ASP.Net boilerplate is an ASP.NET 6.0 solution that incorporates essential packages with minimal built-in decoupling.  No CQRS, MediatR, Repository patterns
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Github" url="https://github.com/eahs/rovercore" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-osi" title="Open Source" url="https://github.com/eahs/rovercore" %}}
This Project is licensed under the MIT License, which means that it is free for anyone to use and distribute. You are welcome to contribute to this project as well. 
{{% /blocks/feature %}}


{{< /blocks/section >}}


