{{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}

{{ range .Site.Params.custom_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}

<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.breadcrumb { margin-bottom: 1rem !important }
.feedback--title { margin-top: 4rem; }
:root {
    --tblr-font-sans-serif: "Poppins",-apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
}
.lead {
  font-size: 1.1rem;
}
</style>