    <link href="https://preview.tabler.io/dist/css/tabler.min.css?1641761692" rel="stylesheet"/>
    <link href="https://preview.tabler.io/dist/css/tabler-flags.min.css?1641761692" rel="stylesheet"/>
    <link href="https://preview.tabler.io/dist/css/tabler-payments.min.css?1641761692" rel="stylesheet"/>
    <link href="https://preview.tabler.io/dist/css/tabler-vendors.min.css?1641761692" rel="stylesheet"/>
    <link href="https://preview.tabler.io/dist/css/demo.min.css?1641761692" rel="stylesheet"/>